header {
    background-color: rgb(37, 37, 37);
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

section {
    padding: 20px;
}

#about {
    
    display: flex;
    align-items: center;
  }
  
  #about h2 {
    order: 1;
  }
  
  #about p {
    order: 2;
  }

  #about ul {
    order: 2;
  }
  
  #about img {
    width: 400px;
    
    border-radius: 50%;
    margin-left: 20px;
  }

  footer {
    height: 100px;
    background-color: aquamarine;
  }