header {
    background-color: rgb(37, 37, 37);
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    float: right;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}

section {
    padding: 40px;
}

#about {
    
    display: flex;
    align-items: center;
  }
  
  #about h2 {
    order: 1;
  }
  
  #about p {
    order: 2;
  }

  #about ul {
    order: 2;
  }
  
  #about img {
    width: 400px;
    
    border-radius: 50%;
    margin-left: 20px;
  }

  footer {
    height: 100px;
    background-color: rgb(37, 37, 37);
  }

  .skill-icons img {
    width: 70px;
    padding: 20px;
  }

  .skill-icons img:hover {
    transform: scale(1.5, 1.5);
    transition: 0.5s;
    transform-origin: center;
  }

  footer {
    padding: 20px;
    color: white;
  }

  footer a {
    color: white;
  }

  footer a:hover {
    color: rgb(212, 35, 35);
  }